<div class="row-fluid">
  <div class="widget_container">
    <div class="well nomargin">
      <div class="navbar navbar-static navbar_as_heading">
        <div class="navbar-inner">
          <div class="container" style="width: auto;">
            <a class="brand">Comments</a>
            <a class="btn pull-right" href="add-new-article.html">Add New</a>
          </div>
        </div>
      </div>
      <div class="subnav">
        <form class="navbar-search pull-right" action="">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>

      <table class="table">
        <thead>
          <tr>
            <td style="width:20px;"><input type="checkbox" id="chkbck" /></td>
            <td>Title</td>
            <td>Author</td>
            <td>Categories</td>
            <td>Tags</td>
            <td><i class="icon-large icon-comment-alt-1"></i></td>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td><input type="checkbox" class="chkbck" /></td>
            <td>
              <a href="#" class="post_title">Konsolidasi Konservasi ( K 2 )</a>
              <div class="operation">
                <div class="btn-group" style="display:none;">
                  <button class="btn btn-small"><i class="icon-pencil-1"></i> Edit</button>
                  <button class="btn btn-small"><i class="icon-eye-2"></i> View</button>
                  <button class="btn btn-small"><i class="icon-trash-empty"></i> Delete</button>
                </div>
              </div>
            </td>
            <td>Admin</td>
            <td><a href="#"><span class="label label-info">Breaking News</span></a></td>
            <td>No Tags</td>
            <td><span class="badge badge-info">0</span></td>
            <td>2012/05/03<br />Published</td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="subnav nobg">
        <div class="span4">
        </div>
      </div>
    </div>
  </div>
</div>

