<div class="span10 content-setting">
	<h3>新增收货地址</h3>	
	<div class="bg-content">
	
		<%= render 'form' %>
		
		<p class="pagination-right">
			<a class="btn btn-large btn-primary" href="/user_addresses/1">新增</a>
		</p>

	</div>
	<!--/.bg-content -->
</div>
<!--/.span10 -->
