<div class="account-container">
  <div class="form-content clearfix">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <h1><i class="iconbig-note-write"></i> 注册</h1>	
	  
	  <div class="login-social marg10-btm">
		<p><a href="#" class="btn"><img src="<%= asset_path 'twitter-18.png' %>" /> 使用 twitter 账号登录</a></p>
		<p><a href="#" class="btn"><img src="<%= asset_path 'facebook-18.png' %>" /> 使用 facebook 账号登录</a></p>			
	  </div>
	  
      <div class="login-fields">
        <div class="field">
          <label for="username">用户名:</label>
          <input type="text" id="username" name="username" value="" placeholder="用户名" class="login username-field" required />
        </div> <!-- /field -->
        <div class="field">
          <label for="email">邮箱:</label>
          <input type="email" id="user[email]" name="user[email]" value="" placeholder="邮箱" class="login email-field" required />
        </div> <!-- /field -->

        <div class="field">
          <label for="password">密码:</label>
          <input type="password" id="user[password]" name="user[password]" value="" placeholder="密码" class="login password-field" required />
        </div> <!-- /password -->

      </div> <!-- /login-fields -->			

      <div class="login-actions">
        <input type="submit" name="Sign up" value="注册" class="btn-signin btn btn-primary" />

    </div> <!-- .actions -->
      <% end %>

</div> <!-- /form-content -->

    </div> <!-- /account-container -->

