<div class="account-container">
  <div class="form-content clearfix">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <h1><i class="iconbig-note-write"></i> Sign Up</h1>	
      <div class="login-fields">
        <p>Sign up manually:</p>
        <div class="field">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" required />
        </div> <!-- /field -->
        <div class="field">
          <label for="email">Email:</label>
          <input type="email" id="user[email]" name="user[email]" value="" placeholder="Email" class="login email-field" required />
        </div> <!-- /field -->

        <div class="field">
          <label for="password">Password:</label>
          <input type="password" id="user[password]" name="user[password]" value="" placeholder="Password" class="login password-field" required />
        </div> <!-- /password -->

      </div> <!-- /login-fields -->			

      <div class="login-actions">
        <input type="submit" name="submit" value="Sign up" class="btn-signin btn btn-primary" />

    </div> <!-- .actions -->
      <% end %>
    <%= render "devise/shared/links" %>

</div> <!-- /form-content -->

    </div> <!-- /account-container -->

