/*****************************
//
// DARK
//
******************************/
body {
	background: url(../examples/17.png) #454545;
}
.widget_container {
	background:rgba(0,0,0,0.1);
}
.widget_container .well {
	background:url(../examples/19.png) #fdfdfd;
}
.custom-acc .accordion-heading, .nav.nav-tabs.myTab li a {
	background: #575757;
	background: -moz-linear-gradient(top,  #575757 0%, #3d3d3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#3d3d3d));
	background: -webkit-linear-gradient(top,  #575757 0%,#3d3d3d 100%);
	background: -o-linear-gradient(top,  #575757 0%,#3d3d3d 100%);
	background: -ms-linear-gradient(top,  #575757 0%,#3d3d3d 100%);
	background: linear-gradient(top,  #575757 0%,#3d3d3d 100%);
}

.nav.nav-tabs.myTab li.active a,
.nav.nav-tabs.myTab li.active a:hover {
	background:#e9e9e9;
	border:1px solid transparent;
}
.nav.nav-tabs.myTab .dropdown-menu li > a {
	background: none;
}
.nav.nav-tabs.myTab .dropdown-menu li > a:hover,
.nav.nav-tabs.myTab .dropdown-menu .active > a,
.nav.nav-tabs.myTab .dropdown-menu .active > a:hover {		
	background-color: #575757;
}
.accordion-inner.tabs_in .tabbable .tab-content .tab-pane .nav.nav-list > li > a:hover {
	background:#dedede;
}
.accordion-inner.tabs_in .tabbable .tab-content .tab-pane .nav.nav-list > .active > a,
.accordion-inner.tabs_in .tabbable .tab-content .tab-pane .nav.nav-list > .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	background-color: #aaa;
	color:#232323;
	text-shadow:none;
}
	
#sidebar .custom-acc .accordion-heading.active-head {
	text-shadow: 1px 1px 1px rgba(24,39,62, .3);
	background:url(../examples/17.png) #898989;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
	background-color: #575757;
}

.table th,
.table td {
  border-top: 1px solid #bbb;
}

.table thead {
	background: #ccc;
	background: -moz-linear-gradient(top,  #eee 0%, #ccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ccc));
	background: -webkit-linear-gradient(top,  #eee 0%,#ccc 100%);
	background: -o-linear-gradient(top,  #eee 0%,#ccc 100%);
	background: -ms-linear-gradient(top,  #eee 0%,#ccc 100%);
	background: linear-gradient(top,  #eee 0%,#ccc 100%);
}
.table-bordered {
  border: 1px solid #bababa;
  border-left: 0;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #bababa;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #dedede;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
	background-color: #dfdfdf;
}

.table tbody tr:hover td a,
.table tbody tr:hover th a {
	color:#454545;
	text-decoration:none;
}

.pagination a {
	border: 1px solid #aaa;
	border-left-width: 0;
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #ccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ccc));
	background: -webkit-linear-gradient(top,  #fff 0%,#ccc 100%);
	background: -o-linear-gradient(top,  #fff 0%,#ccc 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#ccc 100%);
	background: linear-gradient(top,  #fff 0%,#ccc 100%);
}
.pagination a:hover,
.pagination .active a {
	background: #eee;
	background: -moz-linear-gradient(top,  #eee 0%, #aaa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#aaa));
	background: -webkit-linear-gradient(top,  #eee 0%,#aaa 100%);
	background: -o-linear-gradient(top,  #eee 0%,#aaa 100%);
	background: -ms-linear-gradient(top,  #eee 0%,#aaa 100%);
	background: linear-gradient(top,  #eee 0%,#aaa 100%);
	color: #454545;
	text-shadow: 1px 1px 1px #fefefe;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #aaa;
  cursor: default;
  background: #ddd;
}

.breadcrumb {
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #fbfbfb, #dfdede);
  background-image: -ms-linear-gradient(top, #fbfbfb, #dfdede);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#dfdede));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #dfdede);
  background-image: -o-linear-gradient(top, #fbfbfb, #dfdede);
  background-image: linear-gradient(top, #fbfbfb, #dfdede);
  background-repeat: repeat-x;
  border-style:solid;
  border-width:1px;
  border-color:#eee #ccc #cacaca #eee;
}

.breadcrumb .divider {
  color: #999999;
}

.breadcrumb .active a {
  color: #333333;
}

.breadcrumbs-custom{
	background-color: #fbfbfb;
	background-image: -moz-linear-gradient(top, #fbfbfb, #dfdede);
	background-image: -ms-linear-gradient(top, #fbfbfb, #dfdede);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#dfdede));
	background-image: -webkit-linear-gradient(top, #fbfbfb, #dfdede);
	background-image: -o-linear-gradient(top, #fbfbfb, #dfdede);
	background-image: linear-gradient(top, #fbfbfb, #dfdede);
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	border-color:#fefefe #ccc #cacaca #fefefe;
}

.breadcrumbs-custom a{
	color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#ddd));
	background-image: -webkit-linear-gradient(left, #f5f5f5, #ddd);
	background-image: -moz-linear-gradient(left, #f5f5f5, #ddd);
	background-image: -ms-linear-gradient(left, #f5f5f5, #ddd);
	background-image: -o-linear-gradient(left, #f5f5f5, #ddd);
	background-image: linear-gradient(to right, #f5f5f5, #ddd);  
}

.breadcrumbs-custom a::after{
	border-left-color: #ddd;  
}

.breadcrumbs-custom a::before{
	border-left-color: #ccc;
}
