<div class="row-fluid">
  <div class="span12">
    <div id="quick_settings" class="widget_container">
      <div class="well">              
        <div class="navbar navbar-static navbar_as_heading">
          <div class="navbar-inner">
            <div class="container" style="width: auto;">
              <a class="brand">Quick Settings</a>
            </div>
          </div>
        </div>
        <a class="btn btn-large btn-duadua bottom_tooltip" title="General Settings" href="#"><i class="icon-cog-3"></i></a> <a class="btn btn-large btn-duadua bottom_tooltip" title="Upload Video" href="#"><i class="icon-video-3"></i></a> <a class="btn btn-large btn-duadua bottom_tooltip" title="Create Album" href="#"><i class="icon-picture-3"></i></a> <a class="btn btn-large btn-duadua bottom_tooltip" title="Account Settings" href="#"><i class="icon-key"></i></a>
      </div>
    </div>
  </div>

</div>
