<div class="row">
  <div class="span3">
    <div class="nav-headers">
      <p><a href="#" class="btn">Learn more &rarr;</a></p>
    </div>
    <ul class="nav nav-tabs nav-stacked">
      <li class="active"><a href="#"><i class="icon-picture"></i> Newest</a></li>
      <li><a href="#"><i class="icon-ok"></i> Popular</a></li>
      <li><a href="#"><i class="icon-certificate"></i> Top Sites</a></li>
      <li><a href="#"><i class="icon-bookmark"></i> Most Viewed</a></li>
      <li><a href="#"><i class="icon-th-list"></i> Categories</a></li>
      <li><a href="#"><i class="icon-download"></i> Most Download</a></li>
      <li><a href="#"><i class="icon-heart"></i> Recomended</a></li>
    </ul>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a class="group" rel="group1" href="4_b.jpg"><img src="<%=asset_path "4_b.jpg" %>"/></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Building</a>, <a href="#">Tower</a>, 
      <a href="#">Eifel</a>, <a href="#">Wonders of the world</a>, <a href="#">Miracle</a></p>
    </div>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a class="group" rel="group1" href="assets/3_b.jpg"><img src="assets/3_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Sun</a>, <a href="#">Sunrise</a>, 
      <a href="#">Dawn</a>, <a href="#">Morning</a>, <a href="#">Landscape</a></p>
    </div>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a class="group" rel="group1" href="assets/1_b.jpg"><img src="assets/1_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Tree</a>, <a href="#">Landscape</a>, 
      <a href="#">Forest</a>, <a href="#">Nature</a></p>
    </div>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a class="images1" href="assets/5_b.jpg"><img src="assets/5_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Building</a>, <a href="#">Home</a></p>
    </div>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a class="images2" href="assets/2_b.jpg"><img src="assets/2_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Sea</a></p>
    </div>
  </div>

  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a class="images3" href="assets/4_b.jpg"><img src="assets/4_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Building</a>, <a href="#">Tower</a>, 
      <a href="#">Eifel</a>, <a href="#">Wonders of the world</a>, <a href="#">Miracle</a></p>
    </div>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a class="images4" href="assets/3_b.jpg"><img src="assets/3_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Sun</a>, <a href="#">Sunrise</a>, 
      <a href="#">Dawn</a>, <a href="#">Morning</a>, <a href="#">Landscape</a></p>
    </div>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a class="group" rel="wheel_group" href="assets/1_b.jpg"><img src="assets/1_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Tree</a>, <a href="#">Landscape</a>, 
      <a href="#">Forest</a>, <a href="#">Nature</a></p>
    </div>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a rel="wheel_group" href="assets/5_b.jpg"><img src="assets/5_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Building</a>, <a href="#">Home</a></p>
    </div>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a rel="wheel_group" href="assets/2_b.jpg"><img src="assets/2_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Sea</a></p>
    </div>
  </div>
  <div class="span3 galery">
    <div class="menu-galery">
      <ul>
        <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
        <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
        <li><a href="#" rel="tooltip" title="Download"><i class="iconbig-download"></i></a></li>
        <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
      </ul>
    </div>
    <div class="image-galery"><a class="images3" href="assets/4_b.jpg"><img src="assets/4_b.jpg" /></a></div>
    <div class="count-galery">
      <ul>
        <li><i class="icon-comment"></i> 5</li>
        <li><i class="icon-download-alt"></i> 7</li>
        <li><i class="icon-star"></i> 2</li>
        <li><i class="icon-eye-open"></i> 20</li>
      </ul>
    </div>
    <div class="tags-galery">
      <p><i class="icon-tags"></i> Tags : <a href="#">Building</a>, <a href="#">Tower</a>, 
      <a href="#">Eifel</a>, <a href="#">Wonders of the world</a>, <a href="#">Miracle</a></p>
    </div>
  </div>
</div>

