  <% @shares.each do |share| %>
    <div class="span3 galery">
      <div class="image-galery">
        <a class="group" rel="group1" href="/user_shares/<%=share.id%>">
          <img src="<%=asset_path "4_b.jpg" %>"/>
        </a>
      </div>
      <div class="count-galery">
        <ul>
          <li><a href="/users/<%=share.owner.id %>">User<%=share.owner.id %></a></li>
          <li><i class="icon-comment"></i> 5</li>
          <li><i class="icon-heart"></i> 7</li>
          <li><i class="icon-star"></i> 2</li>
          <li><i class="icon-eye-open"></i> 20</li>
        </ul>
      </div>
      <div class="tags-galery">
        <p><i class="icon-tags"></i> Tags : <a href="#">Building</a>, <a href="#">Tower</a>, 
        <a href="#">Eifel</a>, <a href="#">Wonders of the world</a>, <a href="#">Miracle</a></p>
      </div>
    </div>
  <% end  %>

