<% if @photo.new_record? %>
  alert("Failed to upload painting: <%= j @photo.errors.full_messages.join(', ').html_safe %>");
<% else %>
  $("#photos").append("<div class='photo'><input type='hidden' name='photo[id][]' value='<%= @photo.id %>'/><img src='<%= @photo.url %>!big' /><div class='name'><%= @photo.origin_name %></div></div>");
<% end %>


