@charset "UTF-8";

/*-------------------------------------------------------
CSS IE
version:  1.0
author:   
email:    jibinhou@gmail.com
-------------------------------------------------------*/

.navbar-inner {
	background: #ffffff;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

