@charset "UTF-8";

/*-------------------------------------------------------
CSS IE
version:  1.0
author:   继彬
email:    jibinhou@gmail.com
date：2012-09-25 pm
-------------------------------------------------------*/

/*
	bug 公用
*/

