<div class="span10 content-setting">
  <h3>我的专辑</h3>	
  <div class="bg-content">
    <a class="btn btn-primary" href="/categories/new">新增专辑</a>
    <% @categories.each do |category| %>
      <h3><%=category.name %></h3>
    <% end %>
  </div><!--/.bg-content -->
</div><!--/.span10 -->

