<div class="row">

  <div class="span4">

    <div class="slate">

      <div class="page-header">
        <h2>Order Details</h2>
      </div>

      <p><strong>Order #:</strong> 12345</p>
      <p><strong>Order Date:</strong> Today at 13:42</p>
      <p><strong>Payment Method:</strong> PayPal</p>
      <p><strong>Transaction ID:</strong> 123456789012</p>
      <p><strong>Voucher Code:</strong> 12345 (10% Discount)</p>
      <p><strong>Member:</strong> <a href="">Joe Bloggs</a></p>

    </div>

  </div>

  <div class="span4">

    <div class="slate">

      <div class="page-header">
        <h2>Billing Address</h2>
      </div>

      <p>Joe Bloggs</p>
      <p>1 Long Road</p>
      <p>Small Town</p>
      <p>Big City</p>
      <p>Country</p>
      <p>ZIP/Postal Code</p>

    </div>

  </div>

  <div class="span4">

    <div class="slate">

      <div class="page-header">
        <h2>Delivery Address</h2>
      </div>

      <p>Joe Bloggs</p>
      <p>1 Long Road</p>
      <p>Small Town</p>
      <p>Big City</p>
      <p>Country</p>
      <p>ZIP/Postal Code</p>

    </div>

  </div>

</div>
<div class="row">

  <div class="span12">

    <div class="slate">

      <div class="page-header">
        <h2>Ordered Items</h2>
      </div>

      <table class="orders-table table">
        <thead>
          <tr>
            <th>Orders</th>
            <th class="value">Value</th>
            <th class="actions">Dispatch</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">Product Name</a> <span class="label label-info">6 In Stock</span><br><span class="meta">Item summary or notes</span></td>
            <td class="value">
              $132.00
            </td>
            <td class="actions">
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td><a href="">Product Name</a> <span class="label label-info">6 In Stock</span><br><span class="meta">Item summary or notes</span></td>
            <td class="value">
              $132.00
            </td>
            <td class="actions">
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td><a href="">Product Name</a> <span class="label label-info">6 In Stock</span><br><span class="meta">Item summary or notes</span></td>
            <td class="value">
              $132.00
            </td>
            <td class="actions">
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td><a href="">Product Name</a> <span class="label label-success">Dispatched</span><br><span class="meta">Item summary or notes</span></td>
            <td class="value">
              $132.00
            </td>
            <td class="actions">
              Consignment # 1234
            </td>
          </tr>
          <tr>
            <td><a href="">Product Name</a> <span class="label label-important">Out Of Stock</span><br><span class="meta">Item summary or notes</span></td>
            <td class="value">
              $132.00
            </td>
            <td class="actions">
              <input type="checkbox">
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <div class="span12 listing-buttons">

    <button class="btn btn-primary">Dispatch Selected</button>

  </div>

</div>




