<div class="container footer">	
	<ul>
		<li>
			<a href="#" rel="external" target="_blank">手机客户端</a>
		</li>
		<li>
			<a href="#" rel="external" target="_blank">博客</a>
		</li>
		<li>
			<a href="#" rel="external" target="_blank">关于我们</a>
		</li>
		<li>
			<a href="#" rel="external" target="_blank"> 联系我们</a>
		</li>
		<li>
			<a href="#" rel="external" target="_blank">常问问题</a>
		</li>
		<li>
			<a href="#" rel="external" target="_blank">招聘信息</a>
		</li>
		<li>
			<a href="#" rel="external" target="_blank">使用条款</a>
		</li>
		<li>
			<a href="#" rel="external" target="_blank">隐私</a>
		</li>
		<li>
			<a href="#" rel="external" target="_blank">网站地图</a>
		</li>
	</ul>
	<p>
		&copy; 2012 北京优力美星科贸有限公司版权所有.  北京朝阳区东三环中路39号建外SOHO 8号楼1603，京ICP备09089044号-5
	</p>
</div>

