<div class="span3 left-sidebar">
  <div class="account-settings">
    <img src="<%=asset_path 'gravatar.jpg' %>" />
  </div>
  <div class="account-detail">
    <p><a href="#"><i class="icon-heart"></i> 7</a>
    <a href="#"><i class="icon-star"></i> 2</a>
    <a href="#"><i class="icon-eye-open"></i> 20</a></p>
    <hr />
    <ul class="nav nav-list">
      <li class="nav-header">Menu</li>
      <li><a href="/trades">交易管理</a></li>
      <li><a href="/categories">我的专辑</a></li>
      <li><a href="/notifications">我的消息 </a></li>
      <li><a href="/user_shares">我的分享</a></li>
      <li><a href="/user_infos">账户信息</a></li>
      <li><a href="/activities">分享动态</a></li>
      <li><a href="/user_addresses">收货地址</a></li>
    </ul>
  </div><!--/.well -->
</div>
