<% content_for :menu do %>
<div class="span12">
	<div class="trades-title">
	  <h2>个人中心</h2>
	  <hr/>
	</div>
</div>
  <%= render 'layouts/menu' %>
<% end %>
<%= render :template => 'layouts/application' %>
